@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
:root {
	--body: white;
	--text: #000;
	--text-secondary: #474747;
	--border: #f1f1f1;

	--theme: #55b2ef;

	--header-height: 50px;
	--container-padding: 20px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--body: #121212;
		--text: #fff;
		--text-secondary: #a1a1a1;
		--border: #1f1f1f;
	}
}

body {
	margin: 0;
	background: var(--body);
	color: var(--text-secondary);
	font-family: "Inter", sans-serif;
	padding-top: calc(var(--header-height) + env(safe-area-inset-top));
}

.nuxt-icon--fill,
.nuxt-icon--fill * {
	fill: initial !important;
}
